<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="erp" transaction-type="RESOURCE_LOCAL">

        <class>com.company.erp.entity.hrm.employee.Employee</class>
        <class>com.company.erp.entity.general.superclasses.Person</class>
        <class>com.company.erp.entity.hrm.dept.Subunit</class>
        <class>com.company.erp.entity.hrm.dept.Department</class>
        <class>com.company.erp.entity.general.superclasses.NamedEntity</class>
        <class>com.company.erp.entity.hrm.qualifications.skill.Skill</class>
        <class>com.company.erp.entity.hrm.employee.joined.Employee_Skill</class>
        <class>com.company.erp.entity.hrm.qualifications.education.Education</class>
        <class>com.company.erp.entity.hrm.employee.joined.Employee_Education</class>
        <class>com.company.erp.entity.hrm.qualifications.work_exp.Work_Experience</class>
        <class>com.company.erp.entity.hrm.qualifications.language.Language</class>
        <class>com.company.erp.entity.hrm.employee.joined.Employee_Language</class>
        <class>com.company.erp.entity.hrm.qualifications.license.License</class>
        <class>com.company.erp.entity.hrm.employee.joined.Employee_License</class>
        <class>com.company.erp.entity.general.country.Country</class>
        <class>com.company.erp.entity.general.country.City</class>
        <class>com.company.erp.entity.hrm.job_positions.Job_Position</class>
        <class>com.company.erp.entity.crm.client.superclasses.Client</class>
        <class>com.company.erp.entity.crm.client.subclasses.company.ClientCompany</class>
        <class>com.company.erp.entity.crm.client.subclasses.person.ClientPerson</class>
        <class>com.company.erp.entity.sales_inventory.order.Order</class>
        <class>com.company.erp.entity.crm.client.subclasses.company.joined.Company_ContactPersons</class>
        <class>com.company.erp.entity.general.contact_person.ContactPerson</class>
        <class>com.company.erp.entity.general.superclasses.Item</class>
        <class>com.company.erp.entity.sales_inventory.product.Product</class>
        <class>com.company.erp.entity.crm.srf.ServiceRequest</class>
        <class>com.company.erp.entity.crm.srf.Equipment</class>
        <class>com.company.erp.entity.sales_inventory.product.master_data.product_category.ProductCategory</class>
        <class>com.company.erp.entity.sales_inventory.product.master_data.make_manufacturer.Make_Manufacturer</class>
        <class>com.company.erp.entity.sales_inventory.service.Service</class>
        <class>com.company.erp.entity.sales_inventory.nonstockitem.NonStockItem</class>
        <class>com.company.erp.entity.sales_inventory.order.joined.order_item.OrderItem</class>
        <class>com.company.erp.entity.general.task.Task</class>
        <class>com.company.erp.entity.sales_inventory.order.joined.payment.Payment</class>
        <class>com.company.erp.entity.cms.catalog_product.CatalogProduct</class>
        <class>com.company.erp.entity.cms.portal_messages.PortalMessage</class>
    </persistence-unit>
</persistence>
