<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="erp" transaction-type="RESOURCE_LOCAL">

        <class>com.company.erp.entity.hrm.Employee</class>
        <class>com.company.erp.entity.hrm.dept.Subunit</class>
        <class>com.company.erp.entity.hrm.dept.Department</class>
        <class>com.company.erp.entity.general.Person</class>
    </persistence-unit>
</persistence>
